* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-very-dark-magenta: hsl(300, 43%, 22%);
  --primary-soft-pink: hsl(333, 80%, 67%);
  --primary-link: hsl(228, 45%, 44%);

  --neutral-dark-grayish-magenta: hsl(303, 10%, 53%);
  --neutral-light-grayish-magenta: hsl(300, 24%, 96%);
  --neutral-white: hsl(0, 0%, 100%);

  --font-family-default: "League Spartan", sans-serif;
}

body {
  font-family: var(--font-family-default);
  font-size: 0.9375rem;
}

/*Footer*/
.attribution {
  font-size: 0.6875rem;
  text-align: center;
}
.attribution a {
  color: var(--primary-link);
}
